@font-face {
    font-family: "raleway_regular";
    src: url("../fonts/Raleway-Regular.ttf");
}

@font-face {
    font-family: "raleway_medium";
    src: url("../fonts/Raleway-Medium.ttf");
}

@font-face {
    font-family: "raleway_light";
    src: url("../fonts/Raleway-Light.ttf");
}

@font-face {
    font-family: "raleway_bold";
    src: url("../fonts/Raleway-Bold.ttf");
}

@font-face {
    font-family: "roboto_light";
    src: url("../fonts/Roboto-Light.ttf");
}

@font-face {
    font-family: "roboto_medium";
    src: url("../fonts/Roboto-Medium.ttf");
}

@font-face {
    font-family: "roboto_regular";
    src: url("../fonts/Roboto-Regular.ttf");
}