@use "../abstract/variable" as v;

// GRID //

.grids {
    display: flex;
    justify-content: center;
    background-color: v.$primarycolor;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);  
    gap: 10px;                       
    width: 800px;       
    height: 900px;                         
}

.grid_img {
    background-color: #ccc;             
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;             
}

.lien {
    width: 100%;
    height: 100%;
}

.grid_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}