@use "../abstract/variable" as v;

@mixin flex ($direction: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin hover ($color: v.$accentcolor) {
    transition: all 0.3s;

    &:hover {
        color: $color;
        transform: scale(1.2);
    }
}